body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 1200px;
    width: 100%;
    font-size: 18px; /* Default font size for smaller screens */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Media query for screens larger than 600px */
@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
    }

    #quiz-container {
        text-align: center;
        font-size: 16px;
        width:100%; /* Adjust the font size for larger screens */
    }
}
